@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background: #F2F3EB;
  font-family: 'Montserrat', Arial, sans-serif;
}

#main {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  padding: 0;
}

#main #content {
  padding: 0px 60px 60px 60px;
}

h1.brand-title {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  margin: 35px;
  white-space: nowrap;
}

small#version {
  display: block;
  margin: -30px auto 10px auto;
  width: 100px;
  text-align: center;
}

@media (max-width: 768px) {
  #main {
    margin: 1px auto;
  }
  #main #content{
    padding: 0px 10px 10px 10px;
  }
  h1.brand-title {
    margin: 15px 0px 30px 0px;
  }
}

.underline {
  border-bottom: solid 2px #474544;
  margin: 0px auto 20px auto;
  width: 33%;
}

#auctionForm .row {
  margin-top: 35px;
  margin-bottom: 25px;
}

button, input, select, textarea, label, .form-control {
  color: #5A5A5A;
  font: inherit;
  text-transform: uppercase;
}

.input-group-text {
  background: none !important;
  border: none !important;
  border-bottom: solid 2px #474544 !important;
  border-radius: 0 !important;
}

label.flyingLabel {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  opacity: 0;
  top: -5px;
  transition: all 0.3s;
}

label.flyingLabel.visible {
  top: -10px;
  opacity: 1;
}

input[type='text'],
input[type='email'],
input[type='number'],
select,
textarea {
  background: none !important;
  border: none !important;
  -webkit-appearance: none;
  border-bottom: solid 2px #474544 !important;
  color: #474544;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
  border-radius: 0 !important;
  padding: 0 !important;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='number']:focus,
select:focus,
textarea:focus {
  outline: none !important;
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

button#createAuction, button#bid {
  background: none;
  border-radius: 0;
  -webkit-appearance: none;
  border: solid 2px #474544;
  color: #474544;
  font-size: 1.000em;
  font-weight: 400;
  padding: 15px 40px;
  font-weight: 700;
  margin: 50px auto 10px auto;
  display: block;
}
button#bid {
  margin: 10px auto;
  width: 100%;
}

button#createAuction:hover, button#bid:hover {
  background: #474544;
  color: #EEE;
}

button#createAuction:focus, button#bid:focus {
  outline: 0;
  box-shadow: none !important;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right !important;
}

textarea {
  margin-top: 10px;
  min-height: 100px !important;
  padding-bottom: 10px !important;
}
.row.inset {
  margin: 0px -60px;
  padding: 40px;
  border: 1px solid #ffffff;
  border-width: 1px 0px;
}

#auction-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  margin-top: 20px;
}
div.countdown {
  text-align: center;
  white-space: nowrap;
}
div.countdown .time {
  background: #474544;
  display: inline-block;
  border-radius: 3px;
  width: 80px;
  height: 80px;
  font-size: 45px;
  line-height: 80px;
  text-align: center;
  color: #fff;
}

div.countdown .separater {
  color: #474544;
  display: inline-block;
  width: 32px;
  height: 80px;
  font-size: 45px;
  line-height: 80px;
  text-align: center;
  font-weight: 700;
}

div.countdown .section {
  display: inline-block;
}

div.countdown .section span.label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

div.highest-bid {
  display: inline-block;
  width: auto;
  margin: 20px auto;
  background: #474544;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}
div.highest-bid h3 {
  margin-bottom: 0;
}
div.highest-bid span {
  font-size: 14px;
}
div.highest-bid small {
  font-size: 11px;
}
div.highest-bid .you {
  font-weight: 300;
  font-size: 12px;
  margin: auto 10px;
  border-radius: 0;
}

div[class^="sc-"] {
  text-transform: uppercase;
  font-size: 13px;
}
